OPENRECEIVE_NWC=
# OPENRECEIVE_STORE defaults to local-sqlite
OPENRECEIVE_NAMESPACE=hello_fruit_nextjs
OPENRECEIVE_CRON_SECRET=
OPENRECEIVE_WALLET_PROFILE=rizful
OPENRECEIVE_DEMO_MODE=test_nwc
OPENRECEIVE_PUBLIC_URL=http://localhost:3002
PORT=3002
