OPENRECEIVE_NWC=
OPENRECEIVE_STORE=local-sqlite
OPENRECEIVE_NAMESPACE=hello_fruit_rails
OPENRECEIVE_CRON_SECRET=
OPENRECEIVE_WALLET_PROFILE=rizful
OPENRECEIVE_DEMO_MODE=test_nwc
PORT=3003
RAILS_ENV=development
